/* alternating colors for even and odd */

.even-row {
    background-color: #ffffff; /* White for odd rows */
}

.odd-row {
    background-color: #8499f6; /* Light blue for even rows */
}

/* Style for the multiplicands */
.multiplicand-header {
    color: white; 
    font-weight: bold; 
    background-color: #231b92; 

    position: sticky;

    left: 0; /* Position the multiplicands at the left */
    z-index: 9; /* Ensures left header stays above other content */
}

/* Style for the multipliers */
.multiplier-header {
    color: white; 
    font-weight: bold; 
    background-color: #231b92; 
    position: sticky; /* sticks the multiplier to the page even when scrolling */

    top: 0; /* Position the multipliers at the top */
    z-index: 10; /* ensures multiplier stays top layer over content  */
}

